:root
    --clr-am:#E0B548;
    --clr-am2:#F8DA0C;
    --clr-vrd:#37c871;
    --clr-vrd2: #06D889;
    /* clr-vrd: rgba(55,200,113)*/
    /* clr-vrd2: rgba(6,216,137,1)*/
    --height-nav:55px; 
    --clr-pry:#353535; 
    --clr-sry:#000;       
    --clr-nja:#f48b38;
    --clr-az:#4c4cf1;
    /* clr-az: rgba(76,76,241,1);*/

    --back-gray:#ECF0F3;
    --grd-box: linear-gradient(145deg, #e2e8ec, #ffffff);
    --bshw-box:5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;

/* variables */
color1 = #4861ff
color2 = #00b292
color3 = #ff003d
color4 = #489bf8
color6 = #494949
color7 = #E3E3E3
color8 = #696969
color9 = #D3D3D3
color10 = #F3F3F3
color11 = #ffca7f
color12 = #7adfc2
color13 = #A3A3A3
color14 = #88f1d5
color15 = #b4ffdb
color16 = #d3ffda
color17 = #18D26E
color18 = #37c871;
color19 = #151519;
color20 = #0d1011;
color21 = #212128;
color22 = #B1B3BC;
color23 = #545454;
color24 = #ECF0F3;

greyboot = #212529 //rgb(33,37,41)
rgba2 = rgba(0,178,146,1)
rgba17 = rgba(24,210,110,1)
rgba1 = rgb(72,97,255)
main = #161616

/* BACKGROUNDS */
.greyboot
    background-color greyboot
.greylight
    background-color var(--back-gray)
.black
    background-color #000
.white
    background-color #FFF

    /* COLORS */
.cwhite
    color #fff
.cblack
    color #000
.dflex
    display flex
.dblock
    display block
.bold600
    font-weight 600


.h80
    height 80%

/* ALIGN AND MARGINS */

.acenter
    align-items center
.center
    text-align center
.center50
    width 50%
    display flex
    justify-content center
.center70
    position relative
    width 70%
    display flex
    justify-content center
    height 100%
.mtop40
    margin-top 40px
.my40
    margin:40px 0;
.mtop20
    margin-top 20px
.mauto
    margin auto
.m20
    margin 20px
.ptop50
    padding-top 50px
.ptop40
    padding-top 40px
.py40
    padding 40px 0

.linear_gradient
        background linear-gradient(90deg,rgba(17,17,17,0) 0%,rgb(255,255,255) 50%, rgba(17,17,17,0) 100%)
        height 1px
        width 392px
        margin 20px auto
        
html
    scroll-behavior smooth


    /* FIN ALIGN AND MARGINS */

    /* FONT-FACE */
@font-face{
    font-family: Ecliptic_BRK;
    src: url(../fonts/Ecliptic_BRK.ttf);
}
@font-face{
    font-family: Poppins-Semi;
    src: url(../fonts/Poppins-SemiBold.ttf);
}
@font-face{
    font-family: YoutubeS;
    src: url(../fonts/youtube-sans/youtube-sans-bold.ttf);
}
@font-face{
    font-family: Vidage;
    src: url(../fonts/vidage.ttf);
}
@font-face{
    font-family: Mori;
    src: url(../fonts/PPMori-Regular.otf);
}
@font-face{
    font-family: Mori-S;
    src: url(../fonts/PPMori-SemiBold.otf);
}
@font-face{
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face{
    font-family: Anton;
    src: url(../fonts/Anton-Regular.ttf);
}
@font-face{
    font-family: Impact;
    src: url(../fonts/impact.ttf);
}
@font-face{
    font-family: TCCEB;
    src: url(../fonts/TCCEB.TTF);
}

@font-face{
    font-family:Gilroy;
    src: url(../fonts/gilroy/Gilroy-Regular.ttf);
}
@font-face{
    font-family:Livvic;
    src: url(../fonts/Livvic/Livvic-Medium.ttf);
}
    /* FIN FONT-FACE */